# Postgres database address for cocoindex
COCOINDEX_DATABASE_URL=postgres://cocoindex:cocoindex@localhost/cocoindex

# Amazon S3 Configuration
AMAZON_S3_BUCKET_NAME=your-bucket-name

# Optional
# AMAZON_S3_PREFIX=

# Optional
# AMAZON_S3_SQS_QUEUE_URL=
